.control {
    padding-bottom: 1.4em;
}

.logo {
    padding: 2em;
    margin-top: calc( 20% - 10px );
}

.login-section {
    margin: 10px;
    border: 1px solid gray;
    background-color: var(--ion-color-light);
    padding: 5px;
    border-radius: 5px;
}