<app-loading [loading]="loading" [text]="'Loading'"></app-loading>
<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'register-page.register'| translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <ion-item>
        <ion-label position="floating">{{'register-page.username'| translate}}</ion-label>
        <ion-input name="username" type="text" formControlName="username"></ion-input>
        <span *ngIf="f.username.errors?.minlength && f.username.touched">
          <ion-text color="danger">{{'register-page.minLength4'|translate}}</ion-text>
        </span>
        <span *ngIf="f.username.errors?.maxlength && f.username.touched">
          <ion-text color="danger">{{'register-page.maxLength32'|translate}}</ion-text>
        </span>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'register-page.email'| translate}}</ion-label>
        <ion-input name="email" type="email" formControlName="email">
        </ion-input>
        <span *ngIf="f.email.invalid && f.email.touched">
          <ion-text color="danger">{{ 'register-page.emailInvalid'| translate}}</ion-text>
        </span>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'register-page.firstName'| translate}}</ion-label>
        <ion-input name="firstName" type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{'register-page.lastName'| translate}}</ion-label>
        <ion-input name="lastName" type="text" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{'register-page.website'| translate}}</ion-label>
        <ion-input name="website" type="text" formControlName="website"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label position="floating">{{ 'register-page.language'| translate}}</ion-label>
          <ion-select formControlName="language">
            <ion-select-option *ngFor="let lang of languages" [value]="lang.key">{{lang.display}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-input name="genPassword" type="text" readonly formControlName="genPassword"
          placeholder="{{'register-page.passwordSuggestion'| translate }}"></ion-input>
        <ion-button (click)="onGeneratePassword()">
          {{'register-page.generatePassword' | translate}}</ion-button>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{'register-page.passwordEnter'| translate}}</ion-label>
        <ion-input name="password" type="password" formControlName="password"></ion-input>
        <span *ngIf="f.password.errors?.pattern && f.password.touched">
          <ion-text color="danger">{{'register-page.invalidPassword'|translate}}</ion-text>
        </span>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-label position="floating">{{ 'register-page.role'| translate}}</ion-label>
          <ion-select formControlName="role">
            <ion-select-option *ngFor="let role of roles" [value]="role.key">{{role.display}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>

    <ion-button expand="full" type="submit" [disabled]="loading || registerForm.invalid">
      {{'register-page.submit' | translate}}</ion-button>
  </form>
</ion-content>